.red{
    width: 200;
    height: 100;
    background: red;
}
.blue{
    width:200;
    height: 200;
    background-color: blue;
}
.yellow{
    width: 200;
    height: 200;
    background-color: yellow;
}